*.elc
tmp*

/data/auto-save*
/data/backup
/data/dictem-db.el
/data/elpa
/data/emms/*
!/data/emms/streams
/data/erc-log
/data/eshell/*
!/data/eshell/alias
/data/games
/data/gnus
/data/snippets/yas
/data/sql
/data/url
/data/emacs-wget.log
/data/geiser-history*
/data/ido.last
/data/org-id-locations
/data/quelpa
/data/recentf
/data/save-places
/data/smex-items

/init/custom.el
/packages
*-autoloads.el
